html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "PingFang SC","Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 16px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15)!important;
}
